body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgb(220, 236, 250);
}

#newQuestionForm{
    float: left;
    margin-right: 10px;
    padding: 0.5rem;
    height: 35px;
    width: 20%;
}

.nav{
    background-color: #008080;
    height: 5rem;
    padding: 0px 1rem;
}

.container{
    padding: 0px 1rem;
    display: flex;
    height: 100vh;
}

.container-header{
    margin: 1rem 0px;
}

.container-small-header{
    margin: 0.2rem 0px;
}

.leftWin{
    width: 50%;
    padding: 15px;
}

.rightWin{
    width: 50%;
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.questionFormSubmit{
    margin-top: 10px;
    width: 20%;
}

.listBorder{
    justify-content: space-around;
    height: auto;
    width: 100%;
    padding: 100px 10px;
    border-radius: 5px;
    border-top: 2px solid rgb(167, 202, 233);
    padding: 0px;
}

.questionItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 4rem;
    width: 100%;
    padding: 0px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 0px;
}

.listBorder:last-child{
    border-bottom: 2px solid rgb(167, 202, 233);
}

.listBorder:hover{
    background-color: rgb(186, 218, 246);
    transition: 0.1s ease-in-out;
}

.inputArea{
    padding: 0.5rem;
}

.listBorder-redefined{
    color: aliceblue;
    background-color: #FF6961;
    display: flex;
    justify-content: space-around;
    height: auto;
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid rgb(255, 0, 0);
}

.questionItem-redefined{
    color: aliceblue;
    background-color: #FF6961;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 0px;
    height: inherit;
    width: 100%;
    padding: 0px 10px;
}

.questionItem-redefined:hover{
    cursor: unset;
}

.questionAddResponse{
    justify-content: space-between;
    display: flex;
    height: 15rem;
    flex-direction: column;
}

.responseListElement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: 5px 0px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid rgb(0, 255, 34);
    background-color: #8fe28c;
}

.responseSecondUp{
    margin: 0px 0px 0px 0px;
    color: #7A8387;
    justify-content: space-between;
}

.responseThirdUp{
    margin-top: 10px;
    pointer-events: none;
}

/* .responseFirstUp{

} */

.voteCountDiv{
    width: 5%;
    margin: 10px 0px;
    /* border: 2px solid #A9CBEA;
    border-radius: 5px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px; */
}

.vote-btn{
    pointer-events: fill;
    position: right relative;
    float: right;
    /* margin-left: auto; */
    margin-right: 5px;
    height: 25px;
    width: 35px;
    display: flex;
    padding-right: px;
}

.hide{
    display: none;
}

.vote-img{
    width: 20px;
}

.flex{
    display: flex;
}

.unclickable{
    pointer-events: none;
    margin: 0px;
}

.cursor{
    cursor: pointer;
}

.btn{
    float: right;
    color: rgb(183, 219, 251);
    background-color: #007BFF;
    border-radius: 5px;
    border: 1px;
    padding: 0.5rem;
    height: 35px;
    width: 20%;
}

.btn:hover{
    color: white;
    background-color: #3898ff;
}

.questionTextArea{
    margin-top: 10px;
    font-size: 20px;
    resize: none;
}

p{
    word-break: break-all;
    margin: 5px 0px;
}
